<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Pushed</th>
      <th>Duration</th>
      <th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.project.name if task.project %></td>
        <td><%= task.title %></td>
        <td><%= task.pushed_at %></td>
        <td>
          <% if task.popped_at.nil? %>
            Incomplete
          <% else %>
            <%= Timespan.new(from: task.pushed_at, to: task.popped_at).duration.format("%th %~h %m %~m %s %~s") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
