<div id="input">
  <%= form_tag action: 'create' do %>
  <%= select_tag :project_id, options_from_collection_for_select(@projects, :id, :name), include_blank: true %>
  <%= text_field_tag :title %>
  <%= submit_tag 'PUSH' %>
  <% end %>
</div>

<div id="stack">
<% if @tasks.any? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each_with_index do |t, i| %>
      <tr>
        <td class="mark">&nbsp;&nbsp;&nbsp;</td>
        <td class="i"><%= i.zero? ? link_to("*", stack_path, :method => :delete, :id => 'top') : link_to(@tasks.size - i, t) %>.</td>
        <td class="pn"><%= '[' + t.project.name + ']' if t.project %></td>
        <td class="tt"><%= t.title %></td>
        <td class="pa"><%= link_to time_ago_in_words(t.pushed_at) + ' ago', t %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="empty">*There are no task, yay!*</div>
<% end %>
</div>
